html { 
  background: url("bilder/HG.PNG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 #imgContainer{
  height: 140px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  padding-bottom: 25px;
 }
 #logo{
  margin-top: 0;
  display: block;
  box-align: center;
  border: transparent;
  background-image: url("bilder/LogoFreigestellt.PNG");
  background-size: 100%;
  height: 180px;
  width: 310px;
  margin-left: -5px;
  margin-top: -5px;
 }
 .container{
  box-shadow: 8px 8px 30px grey;
  height: 65vh;
  width: 90%;
  display: inline-block;
  border-radius: 20px;
  overflow: scroll;
 }
 .columnLeft {
  display: inline-block;
  width: 45%;
  font-size: 20pt;
  text-align: center;
  min-width: 500px;
 }
 .columnRight {
  display: inline-block;
  width: 45%;
  font-size: 20pt;
  text-align: center;
  min-width: 500px;
 }
 .row{
   text-align: center;
 }
 /* Clear floats after the columns */
 .row:after {
  content: "";
  display: table;
  clear: both;
 }
 #saveContainer{
  padding: 50px;
  text-align: center;
 }
 #save{
  font-size: 20pt;
  padding: 10px;
  border-radius: 10px;
 }
 .selector{
  display: inline-block;
 }

 #save{
   background-color: rgb(243, 55, 55);
   color:white;
   border: none;
   box-shadow: 8px 8px 30px grey;
 }

 #select_1{
   background-color:transparent;
   font-size: 15pt;
   block-size: 40px;
   border: 1px solid;
   outline: none;
 }

 #kids{
  background-color:transparent;
  font-size: 15pt;
  block-size: 40px; 
  border: 1px solid;
  border-radius: 6px;
  height: 40px;
  width: 40px;
  text-align: center;
  outline: none;
 }

 #aufgaben{
  background-color:transparent;
  font-size: 15pt;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  resize: none;
  size: 50%;
  padding: 1%;
  outline: none;
 }

 #text{
  background-color:transparent;
  font-size: 15pt;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  resize: none;
  padding: 1%;
  outline: none;
 }


 ::-webkit-file-upload-button {
  background: transparent;
  font-size: 15pt;
  block-size: 40px;
  border: 1px solid;
  border-radius: 6px;
  margin-bottom: 30px;
  outline: none;
} 

::-webkit-input-placeholder { /* Chrome */
  color: black;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color:black;
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 0.5;
}