body{
  background-image: url("bilder/HG.PNG");
  background-size: 100%;
 }
 #logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
 height: 150px;
 width: 300px;
 box-align: center;
 background-image: url("bilder/LogoFreigestellt.PNG");
 background-size: 100%;
 border: 0;
 }
 .container{
  box-shadow: 8px 8px 30px grey;
  height: 65vh;
  width: 90%;
  display: inline-block;
  border-radius: 20px;
 }
 .columnLeft {
  float: left;
  width: 50%;
  font-size: 20pt;
  text-align: center;
 }
 .columnRight {
  float: right;
  width: 50%;
  font-size: 20pt;
  text-align: center;
 }
 /* Clear floats after the columns */
 .row:after {
  content: "";
  display: table;
  clear: both;
 }
 #saveContainer{
  padding: 50px;
  text-align: center;
 }
 #save{
  font-size: 20pt;
  padding: 10px;
  border-radius: 10px;
 }
 .selector{
  display: inline-block;
 }

 #save{
   background-color: rgb(243, 55, 55);
   color:white;
   border: none;
   box-shadow: 8px 8px 30px grey;
   
 }

 #select_1{
   background-color:transparent;
   font-size: 15pt;
   block-size: 40px;
   border: 1px solid;
 }

 #kids{
  background-color:transparent;
  font-size: 15pt;
  block-size: 40px; 
  border: 1px solid;
  border-radius: 6px;
  height: 40px;
  width: 40px;
 
 }

 #aufgaben{
  background-color:transparent;
  font-size: 15pt;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
 }

 #text{
  background-color:transparent;
  font-size: 15pt;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
 }


 ::-webkit-file-upload-button {
  background: transparent;
  font-size: 15pt;
  block-size: 40px;
  border: 1px solid;
  border-radius: 6px;
  margin-bottom: 30px;
}